body {
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.card {
  min-width: 150px;
  width: fit-content;
  height: 10rem;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  border-radius: 5px;
  background-color: #eeeeee;
}

h1 {
  font-size: 60px;
  margin: 0 0 10px 0;
}

button {
  margin: 0;
  background-color: blue;
  color: white;
  border-radius: 8px;
  padding: 0.5rem 1.4rem;
  font-weight: bold;
}

.once {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.kwadrat {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  width: 700px;
  height: 700px;
  border: 2px solid black;
  grid-gap: 2px;
}
.maly {
  border: 2px solid black;
  width: 233px;
  height: 233px;
  box-sizing: border-box;
}

.zawa {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}